<div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
  <div class="tech" style="width: 50%; max-width:50%">
    <h2>Data Design</h2>
    <div class="tech-icons">
      <div class="square"><div class="content"><div class="table"><div class="table-text">Class & E-R Diagrams</div></div></div></div>
      <div class="square"><div class="content"><div class="table"><div class="table-text">Data Vaulting</div></div></div></div>
      <div class="square"><div class="content"><div class="table"><div class="table-text">Dimentional Data Models</div></div></div></div>
      <div class="square"><div class="content"><div class="table"><div class="table-text">Canonical Data Models</div></div></div></div>
    </div>
    <p>Data modeling for operational systems, enterprise application integration, web services and business intelligence
    </p>
  </div>
  <div class="tech" style="width: 50%; max-width:50%">
    <h2>Database</h2>
    <div class="tech-icons">
      <div class="square"><div class="content"><div class="table"><div class="table-icon"><i class="devicon-postgresql-plain colored"></i></div></div></div></div>
      <div class="square"><div class="content"><div class="table"><div class="table-icon"><i class="devicon-mysql-plain colored"></i></div></div></div></div>
      <div class="square"><div class="content"><div class="table"><div class="table-icon"><i class="devicon-oracle-plain colored"></i></div></div></div></div>
    </div>
    <p>Throughout my career, I have had the opportunity to experience and grasp specificities of major relational database management systems</p>
  </div>
</div>
<div class="user">
  <div class="tech" style="width: 50%; max-width:50%">
    <h2>Data Warehouse Automation</h2>
    <div class="tech-icons">
      <div class="square"><div class="content"><div class="table"><div class="table-text">Data Vault Frameworks</div></div></div></div>
      <div class="square"><div class="content"><div class="table"><div class="table-text">Data Vault Builder</div></div></div></div>
    </div> 
    <p>I have implemented several agile data werehouse solutions, all based on data vault architecture, using custom and off-the-shelf implementation tools</p>
  </div>
  <div class="tech" style="width: 50%; max-width:50%">
    <h2>Infrastructure</h2>
    <div class="tech-icons">
      <div class="square"><div class="content"><div class="table"><div class="table-icon"><i class="devicon-linux-plain colored"></i></div></div></div></div>
      <div class="square"><div class="content"><div class="table"><div class="table-icon"><i class="devicon-docker-plain colored"></i></div></div></div></div>
    </div>
    <p>Enterprise infrastructure and network build and configuration</p>
  </div>
</div>