<div class="user-details">
    <h1> My Expertise </h1>
    <p> {{site.user_description}} </p>
  </div>
    <div class="user">
      <div class="contents">
        <h2>Data Design</h2>
        <p>
          <ul>
            <li>Entity-Relationship 3NF Models</li>
            <li>Data Vaulting</li>
            <li>Dimentional Data Models</li>
            <li>Canonical Data Models</li>      
          </ul>
        </p>
        <p>Data modeling for operational systems, enterprise application integration, web services and business intelligence</p>
      </div>
      <div class="contents">
        <h2>Data Warehouse Automation</h2>
        <ul>
          <li>Data Vault Frameworks</li>
          <li>Data Vault Builder</li>   
        </ul>
        <p></p>
      </div>
      <div class="tech">
        <h2>Database</h2>
        <i class="devicon-sql-server-plain colored"></i>
        <i class="devicon-postgresql-plain colored"></i>
        <i class="devicon-mysql-plain colored"></i>
        <i class="devicon-oracle-plain colored"></i>
        <p>Focussing on popular relational database management systems</p>
        </div>
      <div class="tech">
        <h2>Infrastructure</h2>
        <i class="devicon-linux-plain"></i>
        <i class="devicon-docker-plain"></i>
          <p>Enterprise infrastructure and network build and configuration</p>
      </div>
  </div>
  
