<div id="particles-js">
  <div class="header">
    <h1>
      <span class="site-title">{{site.username}}</span>
      <span class="site-description">{{site.user_title}}</span>
    </h1>
    <div class="header-icons">
      <a aria-label="Send email" href="mailto:max@pow.is"><i class="icon fa-solid fa-envelope"></i></a>
      <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/maxpowis/"><i class="icon fa-brands fa-linkedin-in" aria-hidden="true"></i></a>
      <a aria-label="CV (Printout Edition)" target="_blank" href="cv"><i class="icon fa-regular fa-file-pdf" style="border-color:#B10A00;" aria-hidden="true"></i></a>
      <a aria-label="CV (Dark Edition)" target="_blank" href="cv_dark"><i class="icon fa-solid fa-file-pdf" style="border-color:#B10A00;" aria-hidden="true"></i></a>
      <a aria-label="My Twitter" target="_blank" href="https://twitter.com/maxpowis"><i class="icon fa-brands fa-x-twitter" aria-hidden="true"></i></a>
      <a aria-label="My Github" target="_blank" href="https://github.com/maxpowis"><i class="icon fa-brands fa-github" aria-hidden="true"></i></a>
    </div>
    <div class="header-links">
      <a class="link" href="#about" data-scroll>About Me</a>
      <a class="link" href="#projects" data-scroll>Missions</a>
    </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="fa-solid fa-chevron-down" aria-hidden="true"></i></a>
</div>
