<div class="user-details">
    <h1> Featured Missions </h1>
  </div>
  <div class="user-projects">
    <div class="images-right">
      <img alt="confidential" src="{{ "/assets/img/absolutvision-bSlHKWxxXak-unsplash.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
      <h3>Data Governance Manager</h3>
      <ul>
        <li>Governance for the BI</li>
        <li>Collibra DGC</li>
        <li>REST Data Governance Services</li>
      </ul>
      <p>Drove the glossary capability implementation for the BI Community from design to delivery, 
          including awareness and training session for 130+ people.</p>
      <p>Delivered a real-time Business Capability Service integration of the glossary within a BI DataSet Development Framework 
          to support business term-driven documentation of data assets at design time.</p>
    </div>
  </div>
  <div class="user-projects">
    <div class="images-left">
      <img alt="dashboard" src="{{ "/assets/img/shaun-darwood-TC6u_HnDDqs-unsplash.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
      <h3>Agile Data Management platform</h3>
      <ul>
        <li>Data Vault</li>
        <li>Master Data Management</li>
        <li>Qlik Sense</li>
      </ul>
      <p>Designed, engineered and delivered a full automated agile data management platform in 4 months.</p>
      <p>The Solution served 3 use cases such as on-time delivery, supply chain issue tracking andtask pointing performance.</p>
    </div>
  </div>
  